/* Header colors
  #561649;   深紫
  #790505;   深蘇芳
  #a40522;   深緋
H  #e06351;   赤白橡
*/


.title {
  color: #561649;
}

.subtitle {
  color: #790505;
  text-align: right;
}


.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid; border-color: #790505;
}
.level1 h1 {
  color: #790505;
  border-bottom: 2px solid; border-color: #790505;
}


.level2 .header-section-number {
  display: inline-block;
  border-bottom: 2px solid; border-color: #790505;
}
.level2 h2 {
  color: #790505;
  border-bottom: 1px solid; border-color: #790505;
}


.level3 .header-section-number {
  display: inline-block;
  border-bottom: 2px solid; border-color: #a40522;
}
.level3 h3 {
  color: #a40522;
  border-bottom: 1px solid; border-color: #a40522;
}


.level4 .header-section-number {
  display: inline-block;
  border-bottom: 2px solid; border-color: #e06351;
}
.level4 h4 {
  color: #e06351;
  border-bottom: 1px solid; border-color: #e06351;
}
